/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 15px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */




 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}


/*---------------------------------------------------------
-----------------------------------------------------------
-------------------стили от BOILERPLATE-------------------*/


h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    background: url(../../img/background.jpg);
    color: #666;
}

header {
    overflow: auto;
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px 0;
}



header img {
    width: 130px;
    height: 100px;
}

.menu {
    float: right;
    margin: 40px 50px 0 0;
    display: block;

    -moz-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
    -webkit-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
    box-shadow: 0 0 8px hsla(0,0%,0%,.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: hsla(0,0%,100%,.3);
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    float: right;
    margin: 0 5px 0 .5em;
}

.menu a {
    display: block;
    padding: .3em .5em;
    border-bottom: 1px dashed rgb(57, 187, 144);
    border-radius: 3px 3px 0 0;
    font-family: Cambria, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(18, 103, 134);
   
}

.wrapper {
    overflow: hidden;
    float: left;
    width: 65%;
    margin-bottom: 40px;
    margin-left: 2.5%;
}

h1 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: .25em;
    font-family: 'Nadia Serif', Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 300%;
    text-shadow: -1px -1px 1px hsla(0,0%,100%,.6);
    letter-spacing: -1px;
}
.aside {
    float: right;
    width: 25%;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-right: 3%;
    padding-left: 15px;
    border-left: 1px dashed #3C9;

}

footer {
    overflow: hidden;
    clear: both;
    padding: 10px 0;
    border-top: 1px dashed #3C9;
}



/*--------------медиа запросы----------*/


@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }

    .menu {
        position: fixed;
        top: 136px;
        width: 13%;
        margin-left: 20px;
        -moz-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
        -webkit-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
        box-shadow: 0 0 8px hsla(0,0%,0%,.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: hsla(0,0%,100%,.3);
        text-align: right;
    }

    .menu li {
        display: block;
        float: none;
    }

    .wrapper {
        width: 55%;
        margin-left: 18%;
    }
    .wrapper p {
        column-count: 2;
        column-gap: 1.5em;
        text-shadow: -1px -1px 0 hsla(0,0%,100%,.6);
        font-size: 120%;
    }
    .aside {
        width: 20%;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 13px;
    }

    .menu {
        margin: 20px;
        margin-top: 30px;
    }

    .wrapper {
        float: none;
        width: 100%;
    }
    
    h1 {
        text-align: center;
    }

    .aside {
        float: none;
        width: 100%;
    }
}